---

---

<div id="page5">
  <hr />
  <div id="page5-text">
    <h2 style="margin-top:2vh" id="anim5">
      We partner with 5 clients each year.
    </h2>
    <h2 id="anim5">allow for intense focus on the transformation</h2>
    <h2 id="anim5">and launch of your brand by our very best team,</h2>
    <h2 id="anim5">which is the only team we have.</h2>
  </div>
  <div id="page5-content">
    <div id="cursor2">
      <h3>Take it</h3>
    </div>
    <video style="filter:blur(10px)" autoplay loop muted src="/videos/large.mp4"
    ></video>
    <svg class="abs tl:0 fit transform rotate:-90deg" viewBox="0 0 100 100">
      <circle
        cx="50"
        cy="50"
        r="49"
        stroke="#fff"
        stroke-width="0.25"
        fill="none"
        class="o:0.3 dasharray:302 dashoffset:604 (.in-view):dashoffset:400 (.in-view):tween:all,2.8s,easeOutSlow"
      >
      </circle>
      <circle
        cx="50"
        cy="50"
        r="49"
        stroke="#fff"
        stroke-width="0.25"
        fill="none"
        class="dasharray:302 dashoffset:302 (.in-view):dashoffset:100 (.in-view):tween:all,2.8s,easeOutSlow"
      >
      </circle>
    </svg>
    <svg
      class="abs tl:0 fit transform rotate:0 (.in-view):rotate:237deg (.in-view):tween:all,2.8s,easeOutSlow"
      viewBox="0 0 100 100"
    >
      <circle cx="50" cy="1" r="1" fill="#fff"></circle>
    </svg>
    <h2>1 Seat left</h2>
  </div>
</div>
