---

---

<div id="page4">
  <div id="cards">
    <div class="incard" id="card1">
      <video autoplay muted loop src="/videos/Website-homepage-Work-01_1.mp4"
      ></video>
      <img
        class="images"
        src="https://images.prismic.io/rejouice/e0350a3d-c390-4d97-af1a-5c86bc822b52_Group+3929.jpg?auto=compress,format"
        alt=""
      />
    </div>
    <div class="incard" id="card2">
      <video autoplay muted loop src="/videos/Website-homepage-Work-02_1.mp4"
      ></video>
      <img
        class="images"
        src="https://images.prismic.io/rejouice/d8e1fa1f-4f24-41e1-a249-098c62df5aff_Group+46+%281%29.jpg?auto=compress,format"
        alt=""
      />
    </div>
    <div class="incard" id="card3">
      <video autoplay muted loop src="/videos/Website-homepage-Work-03_1.mp4"
      ></video>
      <img
        class="images"
        src="https://images.prismic.io/rejouice/2874f084-ec6c-4a19-b025-a55c1e6db929_Group+3692.jpg?auto=compress,format"
        alt=""
      />
    </div>
  </div>
</div>
