---

---

<div id="ending">
  <div id="nav">
    <div id="left">
      <h3>Relax. We got you.</h3>
      <button>Take a seat</button>
    </div>

    <div id="right">
      <div id="right1">
        <h4>Home</h4>
        <h4>Work</h4>
        <h4>About</h4>
        <h4>Services & Modules</h4>
        <h4>Contacts</h4>
      </div>
      <div id="right2">
        <h4>X↗</h4>
        <h4>Instagram</h4>
        <h4>LinkedIn</h4>
      </div>
    </div>
  </div>
  <div id="content">
    <div id="animend">
      <div class="last">r</div>
      <div class="last">e</div>
      <div class="last">j</div>
      <div class="last">o</div>
      <div class="last">u</div>
      <div class="last">i</div>
      <div class="last">c</div>
      <div class="last">e</div>
    </div>
  </div>
</div>
